
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: left;
    padding-top: 5px;
}
.botao {
    padding-left: 10px;
    color: #f3631a;
    text-decoration: none;
}
.logo {
    width: 40%;
    border-radius: 100%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #f3631a;
}

form {
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #f3631a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #e55609;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #f3631a;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
